@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  body {
    color: theme('colors.text-primary');
    background-color: theme('colors.background');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme('fontFamily.inter');
  }
}